<div class="container-main rounded " style="margin-right: 1rem !important; padding: 1rem;">
  <div class="row" style="margin-right: 1rem !important;">
    <div class="col-3">
      <app-filter-list label="Module" [dataCol]="modules"
                       (selectedDataEvent)="displayService($event)"></app-filter-list>
    </div>
    <p-divider layout="vertical"></p-divider>
    <div class="col-3">
      <app-filter-list label="Services" [dataCol]="privileges"
                       (selectedDataEvent)="displayServiceDetails($event)"></app-filter-list>
    </div>
    <p-divider layout="vertical"></p-divider>
    <div class="col-5">
      <div class="row" style="padding-bottom: 1em;">Set Service Preferences</div>


      <app-service-preference [attributes]="channels"
                              [header]="'Channels Allowed'"
                              *ngIf="channels.length>0" [type]="attributeType.GATEWAY">
      </app-service-preference>


      <app-service-preference *ngIf="workspaceDetails.length>0"
                              [attributes]="workspaceDetails"
                              [header]="'Users Allowed'" [type]="attributeType.USER_TYPES">
      </app-service-preference>



      <app-service-preference *ngIf="levels.length>0"
                              [attributes]="levels"
                              [header]="'Levels'" [type]="attributeType.LEVEL">
      </app-service-preference>


    </div>
  </div>
  <p-divider layout="horizontal"></p-divider>
  <div style="float: right">
    <button pButton type="button" label="CANCEL"
            class="btn-grey font-bold p-button-raised p-button-rounded"></button>
    &nbsp;
    <button pButton type="button" label="ADD"
            class="btn-red font-bold p-button-raised p-button-rounded"></button>
  </div>
  <br><br>
</div>
